.body{
    background-color:f3f3e9;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: rgb(195, 243, 227); */
    background-image: linear-gradient(135deg,#b2ebe9 0%,#aee2f7 31%,#dfceef 100%);
    padding-top: 10px;
    width: auto;
    font-family: inherit;
    font-size: 17px;
    
}

.logo{
    height: 90px;
    width:90px;
    border-radius: 50px;
    margin-left: 5px;
}
.nav-items >ul{
    display: flex;

}
.nav-items >ul >li{
    padding: 10px;
    margin: 10px;
    font-size: larger;
    margin-left: 120px;

}
.log-btn{
    margin-top: 14px;
    height: 40px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-image: linear-gradient(135deg,#3ab5b0 0%,#3d99be 31%,#56317a 100%);
    border-radius: 10px;
    font-family: inherit;
    font-size: 17px;
    padding: 0.4em 1.5em;
    transition: scale 0.2s;

}
.log-btn:hover{
  cursor: pointer;
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse512 1.5s infinite;
}
.button:active{
  scale: 0.95;
}
@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(2128,03,8,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(2128,03,8,0);
  }
}
.res-card{
   width: 200px; 
   height: 260px;
   /* border: 1px solid black; */
   padding: 5px;
   /* border-radius: 5px; */
   margin: 8px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   
}
.res-card >h5{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
   
}

.search{
    padding: 10px;

}
.food-image{
    height: 150px;
    width: 100%;
    
}
.rest-container{
    display: flex;
    flex-wrap: wrap;
    
    
}

.search-btn {
  margin-top: 14px;
  height: 40px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-image: linear-gradient(135deg,#3ab5b0 0%,#3d99be 31%,#56317a 100%);
  border-radius: 6px;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1em;
  transition: scale 0.2s;
  
  }
  .search-btn:hover{
    cursor: pointer;
    -webkit-animation: pulse 1.5s infinite;
    animation: pulse512 1.5s infinite;
  }
  .button:active{
    scale: 0.95;
  }
  @keyframes pulse512 {
    0% {
      box-shadow: 0 0 0 0 #05bada66;
    }
    70% {
      box-shadow: 0 0 0 10px rgba(2128,03,8,0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(2128,03,8,0);
    }
  }
  .filter-btn{
  margin-top: 24px;
  height: 40px;
  width: 300px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-image: linear-gradient(135deg,#3ab5b0 0%,#3d99be 31%,#56317a 100%);
  border-radius: 7px;
  font-family: inherit;
  font-size: 17px;
  padding: 0.4em 1.5em;
  transition: scale 0.2s;

  }
  .filter-btn:hover{
    cursor: pointer;
    -webkit-animation: pulse 1.5s infinite;
    animation: pulse512 1.5s infinite;
  }
  
  
  
.res-card{
    background-color: #ece9e8;
}
.res-card {
    width: 200px; 
    height: 275px;
    border: .5px solid rgb(250, 246, 246);
    padding: 5px;
    border-radius: 5px;
    margin: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    
 }
 .res-card >h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
 }
 
 .res-card:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.05);
    border: 1px solid rgb(163, 159, 159);
 }
 .search-box{
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 10px 20px -18px;
    color: #242424;
 }
 .search-box:focus{
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;

 }
 .search-box{
  outline: 1px solid lightgray;
 }
 .filter{
    display: flex;
 }
 .shimmer-container{
    display: flex;
    flex-wrap: wrap;
 }
 .shimmer-Card{
    width: 200px; 
    height: 275px;
   /* border: 1px solid black; */
   padding: 5px;
   /* border-radius: 5px; */
   margin: 8px;
   background-color:rgb(238, 234, 234);
   
 }
 /* General Page Styling */
/* General Page Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.info-det{
  font-family: cursive;
  font-weight: 100;
  
}
